<h2>Sign up for our newsletter to receive news and specials!</h2>
<form class="form-horizontal" role="form" action="/process?form=newsletter" method="POST">
    <input type="hidden" name="_csrf" value="{{csrf}}>
</form>